<%= render "shared/header" %>
<h2>遊び方</h2>

  <%= link_to "冒険に出る", "http://localhost:3000/games/1" %>

  <h2>物語一覧</h2>
  <div>
      <% if @games.present? %>
      <% @games.each do |game| %>
        <%= link_to game_path(game.id) do %>
            <h3><%= game.id %></h3>
        <% end %>
      <% end %>

      <% else %>
        <%= link_to '#' do %>
          <h3>物語はまだない…</h3>
        <% end %>
      <% end %>
  </div>
</div>

<%= link_to(new_game_path) do %>
  <span>投稿する</span>
<% end %>
<%= render "shared/footer" %>