<%= render "shared/header" %>
<div class="main">
  <div class="text-box">
    <div class="text">
      <div class = "how-to-play">
        <h2>遊び方</h2>
        <br>
        本アプリは管理者が投稿した小説をノベルゲームとして遊べるアプリケーションです。<br>
        プレイヤーは小説を読み進めていき、最後に書かれているリンクを選ぶことで次のページに進むことが出来ます。<br>
        <br>
        選択によってはアイテムを取得できたりします。<br>
        アイテムは決められたページで使用するかしないか、時には持っているかいないかを聞かれます。<br>
        その都度プレイヤーは選択を行い主人公を正しい道へと誘導してあげてください。<br>
        <br>
        また、本アプリケーションは不正防止としてブラウザバックが出来ない仕様となっております。<br>
        アプリを終了したい場合は左上のタイトルを押すことでトップページには戻ることが出来ます。<br>
        ご容赦くださいませ。<br>
        <br>
        あなたの選択にすべてがゆだねられている世界...<br>
        どうかエンディングを目指して頑張ってみてくださいね。
      </div><br>
      <% if @games.present? %>
        <%= link_to "冒険に出る", game_path(1) %>
      <% else %>
        <%= link_to "物語はまだない…", new_game_path %>
      <% end %>
    </div>

  <% if current_user.id == 1 %>
  <div class="story-box">
    <h2>物語一覧</h2>

    <%= link_to(new_game_path) do %>
      <span>投稿する</span>
    <% end %>

    <div class="story-contents">
      <% if @games.present? %>
        <% @games.each do |game| %>
          <%= link_to game_path(game.id) do %>
              <h3><%= game.id %></h3>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
  
  </div>
</div>
<%= render "shared/footer" %>