<div class="main-ura">
<div class="story-new-box">
<h2 class="story-new">物語投稿</h2>
<%= form_with model: @game, local: true do |f| %>
  <% if current_user.id == 1 %>
    <div>
      <%= f.text_area :story, id:"game_story", placeholder:"物語" %>
      <!--<div>
        <%= f.text_field :item, id:"game_item", placeholder:"アイテムの有無" %>
      </div>
      <div>
        <%= f.text_field :coin, id:"game_coin", placeholder:"コイン枚数" %>
      </div>-->
      <div>
        <%= f.text_field :page_1, id:"game_page_1", placeholder:"遷移するページ" %>
      </div>
      <div>
        <%= f.text_field :page_2, id:"game_page_2", placeholder:"遷移するページ" %>
      </div>
    </div>
    <%= f.submit '投稿' %>
  <% end %>
  <div>
    <%=link_to 'もどる', games_path(@game) %>
  </div>
<% end %>
</div>
  <div class="copyright">
    <span>copyright</span>
    著作者:pvproductions
    出典:Freepik
  </div>
</div>