<%= render "shared/header" %>
<div class="main">
  <div class="text-box">
   <div class="story">
      <div>
        <span id="game-id"><%= @game.id %></span>
      </div>
      <div>
        <%= safe_join(@game.story.split("\n"),tag(:br)) %>
      </div>
      <% if @game.page_1 != @game.id %>
        <span id="links_1"><%= link_to "#{@game.page_1}に行く", game_path(@game.page_1) %></span>
      <% end %>
      <% if @game.page_2 != @game.id %>
        <span id="links_2"><%= link_to "#{@game.page_2}に行く", game_path(@game.page_2) %></span>
      <% end %>
    </div>

    <div class="statuses">
      <%= form_with(model: [@game, @status], local: true) do |form|%>
        <%= form.text_field :text, class: 'statuses-text', placeholder: "細かくメモしよう", rows: "2" %>
        <%= form.submit "SAVE", class: 'statuses-post' %>
      <% end %>
    </div>

    <div class="memo">
      <% @statuses.each do |status| %>
        <% if user_signed_in? && current_user.id == status.user_id %>
          <p>
            <%= status.text %>
          </p>
        <% end %>
      <% end %>
    </div>
    

    <div class="save-bottom">
      <%# link_to "セーブデータ一覧", game_status_path %>
    </div>
    -->

    <div class="story-box">
      <% if current_user.id == @game.user_id %>
        <%= link_to "編集", edit_game_path(@game.id), method: :get %>
        <%= link_to "削除", game_path(@game.id), data: { turbo_method: :delete } %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>