<%= render "shared/header" %>
<div class="main">
  <div class="text-box">
   <div class="story">
    <div>
      <span id="game-id"><%= @game.id %></span>
    </div>
    <div>
      <%= safe_join(@game.story.split("\n"),tag(:br)) %>
    </div>
    <% if @game.page_1 != @game.id %>
      <span id="links_1"><%= link_to "#{@game.page_1}に行く", game_path(@game.page_1) %></span>
    <% end %>
    <% if @game.page_2 != @game.id %>
      <span id="links_2"><%= link_to "#{@game.page_2}に行く", game_path(@game.page_2) %></span>
    <% end %>
    </div>

    <div class="story-box">
      <% if current_user.id == @game.user_id %>
        <%= link_to "編集", edit_game_path(@game.id), method: :get %>
        <%= link_to "削除", game_path(@game.id), data: { turbo_method: :delete } %>
      <% end %>
    </div>
  </div>
</div>

<div>
プレイヤー情報
<% @statuses.each do |status| %>
  アイテム
  <span id="items"><%= status.item %></span>
  コイン
  <span id="coins"><%= status.coin %></span>
  現在のページ
  <span id="pages"><%= status.game_id%></span>
<% end %>
<div>

<div>
ゲームデータ　
  アイテム
  <%= @game.item %>
  コイン
  <%= @game.coin %>
</div>

<%= render "shared/footer" %>